In [2]:
import pandas as pd
from bs4 import BeautifulSoup

/Users/anikamisra/miniconda3/envs/16A/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## "Scraping" html data 

### Ethical disclaimer: 
No bots were used when obtaining this data, aka, no actual "web scraping" was done. I manually scrolled to the bottom of the web page, inspected the entire page, and copied and pasted the html text onto a local file on my computer. All "scraping" was performed on this local file in order to avoid overloading the server. I encourage others to do the same. 


**Date scraped**: This website data was scraped on 7/28/2024 for both mens and womens, from 8-9pm EST.  

## Womens products

In [3]:
# open local html / txt file 
with open('/Users/anikamisra/Desktop/personal-projects/pink-tax/nike/nike_products_womens.html', 'r') as html_file:
    content = html_file.read()

# create BeautifulSoup object 
soup = BeautifulSoup(content, 'html.parser')

# find all appropriate info 
product_cards = soup.find_all('div', {'class': 'product-card__body'})
w_df = pd.DataFrame(columns=['Product Title', 'Product Subtitle', 'Price'])
i = 1
for card in product_cards:
    title_tag = card.find('div', {'class': 'product-card__title'})
    subtitle_tag = card.find('div', {'class': 'product-card__subtitle'})
    price_tag = card.find('div', {'class': 'product-price'})

    if subtitle_tag is not None and price_tag is not None and title_tag is not None:
        title = title_tag.get_text()
        subtitle = subtitle_tag.get_text()
        price = price_tag.get_text()
        # print(f'Product: {subtitle}, Price: {price}')
        w_df.loc[i] = [title, subtitle, price]
        i += 1

#w_df.shape
w_df.head()

,Product Title,Product Subtitle,Price
1,Nike Pro,Women's Dri-FIT Cropped Tank Top,$40
2,Nike Pro Sculpt,"Women's High-Waisted 3"" Biker Shorts",$38
3,Nike Sportswear Phoenix Fleece,Women's Over-Oversized Pullover Hoodie,$75
4,Nike Sportswear Phoenix Fleece,Women's High-Waisted Oversized Sweatpants,$70
5,Nike Sportswear Women's Artist Collection,Bomber Jacket,$160

Looks great! Now let's move on to the men's products. 

## Men's products

In [4]:
# repeat process for mens info 
with open('/Users/anikamisra/Desktop/personal-projects/pink-tax/nike/nike_products_mens.html', 'r') as html_file:
    content = html_file.read()

soup = BeautifulSoup(content, 'html.parser')
product_cards = soup.find_all('div', {'class': 'product-card__body'})
m_df = pd.DataFrame(columns=['Product Title', 'Product Subtitle', 'Price'])
i = 1
for card in product_cards:
    title_tag = card.find('div', {'class': 'product-card__title'})
    subtitle_tag = card.find('div', {'class': 'product-card__subtitle'})
    price_tag = card.find('div', {'class': 'product-price'})

    if subtitle_tag is not None and price_tag is not None and title_tag is not None:
        title = title_tag.get_text()
        subtitle = subtitle_tag.get_text()
        price = price_tag.get_text()
        # print(f'Product: {subtitle}, Price: {price}')
        m_df.loc[i] = [title, subtitle, price]
        i += 1

#w_df.shape
m_df.head()

                 Product Title         Product Subtitle   Price
1                    Nike Club  Men's Woven Flow Shorts     $50
2  Nike Sportswear Club Fleece       Men's Graphic Crew     $65
3         Nike Sportswear Club     Men's Graphic Shorts  $30.97
4              Nike Sportswear            Men's T-Shirt     $35
5                    Nike Club       Men's Chino Shorts     $70

How much was scraped?

In [5]:
print("No. of womens products:", w_df.shape[0])
print("No. of mens products:", m_df.shape[0])

No. of womens products: 3054
No. of mens products: 7782

This is consistent with the website. Let's download the data.

In [6]:
w_df.to_csv("womens_nike_data.csv", index=False)
m_df.to_csv("mens_nike_data.csv", index=False)

In [1]:
import pandas as pd
m_df = pd.read_csv("mens_nike_data.csv")

m_df.head()

                 Product Title         Product Subtitle   Price
0                    Nike Club  Men's Woven Flow Shorts     $50
1  Nike Sportswear Club Fleece       Men's Graphic Crew     $65
2         Nike Sportswear Club     Men's Graphic Shorts  $30.97
3              Nike Sportswear            Men's T-Shirt     $35
4                    Nike Club       Men's Chino Shorts     $70