In [2]:
import pandas as pd
womens_df = pd.read_csv('/Users/anikamisra/Desktop/personal-projects/pink-tax/gymshark/w_df_scraped_jul_14.csv')
womens_df.head()

   Unnamed: 0                                          Product Price
0           1                     Silicone Grip Lifting Straps   $16
1           2                      Vital Seamless 2.0 Leggings   $54
2           3                                   Crew Socks 3pk   $16
3           4                                   Crew Socks 5pk   $26
4           5  Strong Girl Lifting Club Oversized Graphic Crew   $42

In [3]:
mens_df = pd.read_csv('/Users/anikamisra/Desktop/personal-projects/pink-tax/gymshark/m_df_scraped_jul_14.csv')
mens_df.head()

   Unnamed: 0                    Product Price
0           1     Vital Seamless T-Shirt   $30
1           2        React Drop Arm Tank   $24
2           3               Sport Shorts   $38
3           4  Lightweight Jersey Shorts   $32
4           5             Arrival Shorts   $26

### Clean the data and see how to organize

In [5]:
womens_df = womens_df.drop(columns = ["Unnamed: 0"])
mens_df = mens_df.drop(columns = ["Unnamed: 0"])

womens_df.head()

                                           Product Price
0                     Silicone Grip Lifting Straps   $16
1                      Vital Seamless 2.0 Leggings   $54
2                                   Crew Socks 3pk   $16
3                                   Crew Socks 5pk   $26
4  Strong Girl Lifting Club Oversized Graphic Crew   $42

In [18]:
# how many unique items there are based on last word 
last_word_w = womens_df['Product'].str.split().str[-1]
print(last_word_w.unique())
print(len(last_word_w.unique()), " unique items (based on last word) for womens")

['Straps' 'Leggings' '3pk' '5pk' 'Crew' 'Shorts' 'Bra' 'Backpack' 'Bag'
 'Cap' 'Top' 'T-Shirt' 'Tracktop' 'Joggers' 'Bandeau' 'Tank']
16  unique items (based on last word) for womens

Wow! Not a ton of varying items. How about last two words then (sometimes we have crop top, etc)

In [19]:
last_2_words_w = womens_df['Product'].str.split().str[-2:]
last_2_words_w = last_2_words_w.str.join(' ')
print(last_2_words_w.unique())
print(len(last_2_words_w.unique()), " unique items (based on last 2 words) for womens")

['Lifting Straps' '2.0 Leggings' 'Socks 3pk' 'Socks 5pk' 'Graphic Crew'
 'Seamless Leggings' 'Seamless Shorts' 'Sports Bra' 'Pocket Shorts'
 'Sharkhead Backpack' 'Gym Bag' 'Sharkhead Cap' 'Graphic Top'
 'Graphic T-Shirt' 'Zip Tracktop' 'Oversized T-Shirt' 'Power Joggers'
 'Out Bandeau' 'Crop Top' 'Fleece Joggers' '2.0 Shorts' 'Elevate Leggings'
 'Waisted Leggings' 'Cycling Shorts' 'Seamless Tank' 'Sleek Backpack'
 'Oversized Joggers' 'Crop Tank']
28  unique items (based on last 2 words) for womens

Let's repeat for mens...

In [20]:
last_word_m = mens_df['Product'].str.split().str[-1]
print(last_word_m.unique())
print(len(last_word_m.unique()), " unique items (based on last word) for mens")

['T-Shirt' 'Tank' 'Shorts' 'Joggers' 'Hoodie' 'Stringer' '3PK' 'Crew'
 'Fit)']
9  unique items (based on last word) for mens

In [21]:
last_2_words_m = mens_df['Product'].str.split().str[-2:]
last_2_words_m = last_2_words_m.str.join(' ')
print(last_2_words_m.unique())
print(len(last_2_words_m.unique()), " unique items (based on last 2 word) for mens")

['Seamless T-Shirt' 'Arm Tank' 'Sport Shorts' 'Jersey Shorts'
 'Arrival Shorts' '5" Shorts' 'Crest Shorts' 'Crest Joggers' '7" Shorts'
 'Oversized Joggers' 'Oversized T-Shirt' 'Power T-Shirt'
 'Oversized Hoodie' 'Legacy T-Shirt' 'React Stringer' 'Marl T-Shirt'
 'Fit T-Shirt' 'Crest T-Shirt' 'Washed T-Shirt' 'Washed Hoodie'
 'Woven Joggers' 'Crest Hoodie' 'Cover T-Shirt' 'Studio Shorts'
 'Arrival T-Shirt' 'Brief 3PK' 'Essential Crew' '(Reg Fit)' 'Cargo Shorts']
29  unique items (based on last 2 word) for mens

This tells us all the different product types except for the second-to-last entry, "(Reg fit)", which only tells us the type of fit the item is. Let's see how many items have this string in their name and what they are (so we can see if we need to add any more items asides from the above list.)

In [28]:
reg_fit_products = mens_df[mens_df['Product'].str.contains("\(Reg Fit\)")]
print(reg_fit_products['Product'].unique())

['Arrival T-Shirt (Reg Fit)']

Yup, it's still a t-shirt, which was already mentioned. 

## Categorizing items 

Because there are so few different types of items, I can definitely just manually decide how to create categories. However, for future websites where the product type isn't as clear, I can use Chat GPT directly to assign labels. (For future websites I should also convert all strings to lowercase before finding the unique values, but it wasn't necessary for this website.)

Based on just the last word and last two words, we can use the following categories. 
**Womens simplified labels**
| String in product name      | Specific category |  General category |
| ----------- | ----------- | ----------- | 
| "Leggings"      | Leggings       | Pants | 
| "Shorts"      | Shorts       | Shorts | 
| "Joggers"      | Sweatpants       | Pants | 
| "Crew"      | Sweatshirt       | Outerwear | 
| "T-shirt"      | T-shirt       | Tops | 
| "Tank"      | Tank       | Tops |
| All other tops |  Other top | Tops  | 
| "Backpack", "Bag"      | Bags       | Other | 
| "Bra", "Bandeau"      | Bra       | Underwear (bra) | 
| "Straps", "      | Leggings       | Pants | 
| "Socks 3pk"      | Socks 3pk       | Socks 3pk | 
| "Socks 5pk"      | Socks 5pk       | Socks 5pk |
| Everything else      | Other       | Other |  

Note: Since "Tank" goes in the tank category, that means "crop tank" also goes into that category. I put "crop tank" in the "tank" category as opposed to the "crop top" category because it is still a type of tank whereas crop tops appear to be general tops, cropped. However this decision is subjective. 


**Mens simplified labels**
| String in product name      | Specific category |  General category |
| ----------- | ----------- | ----------- | 
| "T-shirt", "(Reg fit)"      | T-shirt       | Tops | 
| "Tank", "Stringer"      | Tank       | Tops | 
| "Shorts"      | Shorts       | Pants | 
| "Joggers"      | Sweaptants       | Pants | 
| "Hoodie", "Crew"      | Sweatshirt       | Outerwear | 
| "Brief 3PK"      | Underwear       | Underwear | 
| Everything else      | Other       | Other |

Let's get to categorizing.

In [54]:
# key: string in product name 
# value: specific category 
specific_category_map_w = {
    'Leggings': 'Leggings', 
    'Shorts': 'Shorts',
    'Joggers': 'Sweatpants', 
    'Crew': 'Crew',  
    'CropTop' : 'Crop top', 
    'Croptop': 'Crop top', 
    'T-Shirt' : 'T-shirt',
    #'Crop Tank' : 'Tank', 
    'Tank': 'Tank', 
    'Tracktop' : 'Other top',
    'Top': 'Other top',  
    'Bra': 'Bra',
    'Bandeau' : 'Bra', 
    'Backpack': 'Bag', 
    'Bag': 'Bag', 
    'Socks3pk': 'Socks 3-pack', 
    'Socks5pk' : 'Socks 5-pack'
}

general_category_map_w = {
    'Leggings': 'Pants', 
    'Shorts': 'Shorts', 
    'Joggers': 'Pants', 
    'Crew': 'Outerwear', 
    'CropTop' : 'Top',
    'Croptop': 'Top', 
    'T-shirt' : 'Top', 
    'Tank' : 'Top', 
    'Tracktop': 'Top',
    'Top': 'Top', 
    'T-Shirt': 'Top',
    'Bra': 'Underwear (bra)', 
    'Bandeau': 'Underwear (bra)', 
    'Bag': 'Other', 
    'Backpack': 'Other', 
    'Socks3pk': 'Socks 3pk', 
    'Socks5pk': 'Socks 5pk'
}

specific_category_map_m = {
    'T-Shirt': 'T-shirt', 
    '(Reg Fit)' : 'T-shirt',
    'Tank': 'Tank', 
    'Stringer': 'Tank', 
    'Shorts': 'Shorts',  
    'Crew': 'Crew',
    'Hoodie': 'Hoodie', 
    'Brief3PK': 'Underwear',  
    'Joggers': 'Sweatpants'
}

general_category_map_m = {
    'T-Shirt': 'Top', 
    '(Reg Fit)' : 'Top',
    'Tank': 'Top', 
    'Stringer': 'Top', 
    'Shorts': 'Shorts',  
    'Crew': 'Outerwear',
    'Hoodie': 'Outerwear', 
    'Brief3PK': 'Underwear',  
    'Joggers': 'Pants'
}

In [55]:
def combine_words(product_name):
    words = product_name.split()
    if words[-2:] == ['Crop', 'Top']:
        words[-2:] = ['CropTop']
        return ' '.join(words)
    elif words[-2:] == ['(Reg', 'Fit)']: 
        words[-2:] = ['T-Shirt']
        return ' '.join(words)
    elif words[-2:] == ['Brief', '3PK']: 
        words[-2:] = ['Brief3PK']
        return ' '.join(words)
    elif words[-2:] == ['Socks', '3pk']: 
        words[-2:] = ['Socks3pk']
        return ' '.join(words)
    elif words[-2:] == ['Socks', '5pk']: 
        words[-2:] = ['Socks5pk']
        return ' '.join(words)
    else:
        return product_name
    
def place_into_specific_cat_w(product_name):
    last_word = product_name.split()[-1]
    return specific_category_map_w.get(last_word, 'other')

def place_into_general_cat_w(product_name):
    last_word = product_name.split()[-1]
    return general_category_map_w.get(last_word, 'other')

def place_into_specific_cat_m(product_name): 
    last_word = product_name.split()[-1]
    return specific_category_map_m.get(last_word, 'other')

def place_into_general_cat_m(product_name):
    last_word = product_name.split()[-1]
    return general_category_map_m.get(last_word, 'other')

womens_df['Product'] = womens_df['Product'].apply(combine_words)
mens_df['Product'] = mens_df['Product'].apply(combine_words)

womens_df['Specific Category'] = womens_df['Product'].apply(place_into_specific_cat_w)
womens_df['General Category'] = womens_df['Product'].apply(place_into_general_cat_w)
mens_df['Specific Category'] = mens_df['Product'].apply(place_into_specific_cat_m)
mens_df['General Category'] = mens_df['Product'].apply(place_into_general_cat_m)

In [56]:
womens_df.head()

,Product,Price,Specific Category,General Category
0,Silicone Grip Lifting Straps,$16,other,other
1,Vital Seamless 2.0 Leggings,$54,Leggings,Pants
2,Crew Socks3pk,$16,Socks 3-pack,Socks 3pk
3,Crew Socks5pk,$26,Socks 5-pack,Socks 5pk
4,Strong Girl Lifting Club Oversized Graphic Crew,$42,Crew,Outerwear

Let's make a sub-dataframe of all the "other" values to ensure that everything was labelled correctly.

In [59]:
other_products_w_spec = womens_df[womens_df['Specific Category'] == 'other']
other_products_w_gen = womens_df[womens_df['General Category'] == 'other']
other_products_m_spec = mens_df[mens_df['Specific Category'] == 'other']
other_products_m_gen = mens_df[mens_df['General Category'] == 'other']

print("Unique 'other' products in womens: ")
unique_other_products_sp_w = other_products_w_spec['Product'].unique()
unique_other_products_gen_w = other_products_w_gen['Product'].unique()
print(unique_other_products_sp_w)
print(unique_other_products_gen_w)

print("\n Unique 'other' products in mens: ")
unique_other_products_sp_m = other_products_m_spec['Product'].unique()
unique_other_products_gen_m = other_products_m_gen['Product'].unique()
print(unique_other_products_sp_m)
print(unique_other_products_gen_m)

Unique 'other' products in womens:
['Silicone Grip Lifting Straps' 'Sharkhead Cap']
['Silicone Grip Lifting Straps' 'Sharkhead Cap']

 Unique 'other' products in mens:
[]
[]

Great. Looks like we did not forget to label anything properly. Next step is the analysis.