In [20]:
import pandas as pd
w_df = pd.read_csv("lululemon_womens_data.csv")
m_df = pd.read_csv("lululemon_mens_data.csv")

w_df.head()

                                        Product Name  Price
0              Dance Studio Mid-Rise Pant \\nRegular  118.0
1       Scuba Oversized Funnel-Neck Half Zip \\nLong  128.0
2  Varsity Scoop-Neck Cropped Tennis Tank Top \\n...   78.0
3  Lightweight High-Rise Relaxed Short 3" \\nLong...   78.0
4                              Scuba Full-Zip Hoodie  118.0

In [22]:
# clearly we need to get rid of any weird characters like the slashes and the "n"'s like "\\n". 

w_df['Product Name'] = w_df['Product Name'].str.replace('\\n', '', regex=False)
w_df['Product Name'] = w_df['Product Name'].str.replace('\\', '', regex=False)
w_df['Product Name'] = w_df['Product Name'].str.replace('\n', '', regex=False)
w_df['Product Name'] = w_df['Product Name'].str.replace("'", "", regex=False)
w_df = w_df[~w_df['Product Name'].str.contains(" mens")]
w_df = w_df[~w_df['Product Name'].str.contains("Mens")]
w_df['Product Name'] = w_df['Product Name'].str.lower().str.replace('lululemon', '', regex=False)
w_df.head()

                                        Product Name  Price
0                 dance studio mid-rise pant regular  118.0
1          scuba oversized funnel-neck half zip long  128.0
2  varsity scoop-neck cropped tennis tank top med...   78.0
3  lightweight high-rise relaxed short 3" long liner   78.0
4                              scuba full-zip hoodie  118.0

In [23]:
# repeat for mens 
m_df['Product Name'] = m_df['Product Name'].str.replace('\\n', '', regex=False)
m_df['Product Name'] = m_df['Product Name'].str.replace('\\', '', regex=False)
m_df['Product Name'] = m_df['Product Name'].str.replace('\n', '', regex=False)
m_df['Product Name'] = m_df['Product Name'].str.lower().str.replace('lululemon', '', regex=False)
m_df['Product Name'] = m_df['Product Name'].str.replace("'", "", regex=False)
m_df = m_df[~m_df['Product Name'].str.contains("womens")]
m_df.head()

                                        Product Name  Price
0           new venture short-sleeve knit polo shirt  118.0
1   stretch cotton versatwill relaxed-fit cargo pant  148.0
2          new venture classic-fit long-sleeve shirt  118.0
3  abc classic-fit trouser 32"l stretch cotton ve...  128.0
4            new venture long-sleeve knit polo shirt  148.0

In [24]:
# now let's make a list of all the words 

all_words_list = []
for item in w_df['Product Name']: 
    if (isinstance(item, str) == True) :
        item_list = item.split()
        for word in item_list: 
            word = word.lower()
            all_words_list.append(word)
for item in m_df['Product Name']: 
    if (isinstance(item, str) == True) : 
        item_list = item.split()
        for word in item_list: 
            word = word.lower()
            all_words_list.append(word)

all_words_list = sorted(all_words_list)
all_words_set = set(all_words_list)
print(all_words_set)

{'keyhole', '10"', 'wool-knit', 'cpc', 'side-snap', 'rest', 'hiking', 'unisex', 'v', 'button-up', 'modal', 'collar', 'adjustable', '6', 'and', 'push', 'sweetheart', 'a', 'd/dd', '2894', 'contour', 'tapered-leg', '+', 'longline', 'love', 'ragg', 'y', 'cross', 'identity', 'up', 'ponytail', 'tie-back', 'mug', 'pull-on', 'soft', '2"', 'surge', 'super-high-cut', 'two-toned', '2.5l', 'boyshort', 'shrug', 'windbreaker', 'colourblock', '3', 'spacer', 'racerback', 'day', 'lounge', 'seated-fit', 'translucent', 'powered', 'metal', 'skinny-fit', 'now', '17l', 'high', 'vitasea', 'street', 'hem', '25"', 'lite', 'crossbody', 'romper', 'hot', '32.5"', 'rubber', 'mini', 'that', 'colour', 'wristband', 'scoop-neck', 'heavy', 'warp', 'low', 'command', 'cropped', 'quilted', 'low-ankle', 'bend', 't.h.e.', '12oz', 'linerless', 'wave-quilt', 'year', 'rulu', 'rival', 'abc', 'rain', 'over', 'align99', 'breathable', 'one-shoulder', 'ribbed', 'travel', 'tie-waist', '9"', 'side-cinch', 'multi-texture', 'shoe', 'crew', 'envital', 'zip-leg', 'sport', 'grid', 'mid-crew', 'cityverse', 'regular', 'zip', 'double-strap', 'front-zip', 'perfectly', 'soft-knit', '5"', 'square-neck', 'one-piece', 'cupro', 'ebb', 'swim', 'towel', 'super', 'extra', 'ready', 'underwear', 'takes', 'outdoor', 'find', 'swift', 'thermal', 'hardware', 'clippable', 'packing', 'hood', 'down', 'grid-texture', 'side-pleat', 'power', 'lid', 'backpack', 'smasher', 'high-neck', 'vented', 'sweat', 'non-stop', '27"l', 'thin', 'insulated', '3l', 'switch', 'bra', 'trail', 'tech', 'ultralight', '64oz', 'for', 'double', 'skirt', '25l', 'block', '2.5"', 'fold-over', 'bikini', 'gloves', 'case', 'anew', 'hat', 'instill', 'mat', 'emboss', 'cross-back', 'chargefeel', 'free', 'off-the-shoulder', 'inner', 'performance', 'muscle', 'relaxed', 'shortie', 'mist', 'move', 'twill', 'parent', '2594', 'wunderlust', 'dipped-waist', 'limits', 'hooded', 'pockets', 'route', 'your', 'venture', 'sneaker', 'cardigan', 'medium', 'like', 'uplifting', 'board', 'always', 'tab', 'warmth', 'beanie', 'all-sport', 'take', 'wristlet', 'double-knit', 'purist', '1l', '(big)', 'lift', 'aerobic', 'both', 'dress', 'pullover', 'everlux', 'removable', 'straight-hem', '24oz', 'alpaca', 'cotton', 'define', 'city', 'pool', 'cap', '29"', 'jogger', 'lunar', 'midi', 'wide-leg', 'hoodie', '2-in-1', 'mind', 'b/c', 'ultralu', 'corset', 'yoga', 'waterproof', 'fit', 'oversized-fit', 'groove', 'restfeel', 'softstreme', 'high-rise', 'cups', 'mens', 'active', 'speed', 'scuba', 'tall', '10l', 'mid-length', 'short', 'mesh', 'silk', 'cargo', '8"', 'reversible', 'relaxed-tapered', 'henley', 'pique', '12l', '26oz', 'city-to-hike', 'lined', 'tube', 'nylon', 'funnel-neck', 'strappy', '29l', 'a96ddd(e)', 'airing', '2l', 'high-waist', 'cubes', '20l', 'lightweight', 'shorter', 'boxy', 'on', 'oxford', 'tipping', 'a96c', 'rebel', 'boxer', 'v-waist', 'shirt', 'super-cropped', 'sojourn', 'trouser', 'updated', 'sleeveless', '2', 'everywhere', 'ankle', 'hip-length', 'quarter', '17"', 'carpenter', 'down-filled', 'versatwill', 'clip', 'dry', 'sandal', 'modal-blend', 'still', 'smoothcover', 'waistband', 'poplin', 'comfort', 'weather', 'sculpt', 'belt', '2.0', 'b96ddd', 'release', 'times', 'large', 'revelation', 'recover', 'cycling', 'license', 'laundry', 'energy', 'fly', 'under', 'two-tone', '6"', '20oz', 'roller', 'vital', 'waist', 'snap-front', 'clear', 'dance', 't-strap', 'varsity', '31"', 'slide', 'overshirt', 'turtleneck', 'all', 'waist-length', 'tip', 'logo', 'cotton-blend', 'less', 'paneled', 'pants', 'wool-blend', 'bucket', 'utilitech', 'slim-tapered', 'breathe', 'socks', 'certified', 'bag', 'cap-sleeve', 'skinny', 'duffle', 'warm', 'curved-hem', 'goal', 'hip', 'senseknit', 'ripstop', 'cruiser', 'gridliner', 'built', 'jacquard', 'glow', 'light', 'abrasion-resistant', 'halter', 'insulation', 'mockneck', 't-shirt', 'pivot', 'flared', 'foam', 'classic', 'merino', 'high-coverage', 'easy', 'fleece', '34"', 'lace', 'c/d', 'baselayer', 'workout', 'half-zip', 'fundamental', 'button-front', 'boatneck', '28"', 'fsc99', 'night', 'tank', 'crew-length', 'breaker', 'ultra-soft', 'navigation', 'overalls', 'brief', 'running', 'strongfeel', 'a96d', 'bowline', 'wunder', '5', 'ways', 'invigorate', 'wild', 'crop', 'stride', 'keychain', 'with', 'card', 'zip-front', 'yours', 'modal-silk', 'a/b', 'stretchseal', 'multi-pocket', 'sheer', 'narrow', 'team', 'lab', 'relaxed-fit', 'mid', 'canada', 'stripe', '32"', 'heavyweight', 'race', 'chill', 'track', 'dopp', 'pleated', 'short-sleeve', 'cates', 'graphic', 'jersey', 'wrap-front', 'coaches', 'brunswick', 'open-knit', 'convertible', 'button-down', 'tight-fit', 'contoured', 'pace', '3"', 'diamond', 'water', 'base', 'seamless', 'straight-leg', 'blazer', 'armband', 'sleeve', 'layer', 'ventilated', 'b96g', 'slouch', 'bralette', 'tennis', 'fabric', '7"', 'claw', 'headband', 'mini-flare', 'straw', 'micropillow', 'jacket', 'never', 'slit', 'front', 'slim-fit', 'golf', '27"', 'its', 'a-g', 'bodysuit', 'be', 'asymmetrical-waist', 'cortes', 'sweatband', 'bomber', 'quick', 'shoulder', 'tie', 'vest', 'warpstreme', 'crewneck', 'fast', 'shadow', 'spaghetti-strap', 'cinchable', '3.5"', 'polo', 'foil', 'collared', '22"', 'made', 'no-show', 'full-zip', '22l', 'velvet', 'run', 'rapid', 'b96d', 'lengthen', '21"', '23l', 'b-d', 'pouch', 'enlite', 'hybrid', '24"', 'macropillow', 'coc', 'bandeau', 'hike', 'knee-high', 'parka', 'tote', 'thong', '7/8', 'dual', 'lost', 'festival', 'tear-away', '4"', 'visor', 'hem-cinch', '19"', 'knit', 'new', 'ties', '1.5mm', 'hair', '45l', 'bermuda', 'flow', 'scrunchies', 'singlet', 'cloud', '28"l', 'asymmetrical', '30"l', '34"l', '-', 'essentials', 'getter', 'reflective', 'pocket', 'support,', 'utility', 'true', 'beyondfeel', 'split', 'tech-woven', 'curved', 'oversized', '37"l', 'underease', 'coat', 'organic', 'another', 'state', 'it', 'classic-fit', 'daily', 'embroidered', 'stretching', 'repelshell', 'cut-out', 'band', 'training', 'shorts', 'open-back', 'packable', '26"l', 'pride', 'camp', 'recovery', '3mm', 'transformable', 'barrel-leg', 'utilitarian', 'low-rise', 'roll-up', 'unitard', 'life', 'brushed', '(small)', 'liner', 'support', 'tight', 'canvas', 'classic-tapered', 'long', 'motion', 'to', 'square', 'composite', 'length', 'swiftly', 'hotty', 'invisiwear', 'hold', 'long-sleeve', 'adventurer', 'action', 'zeroed', 'grip', 'triangle', '23"', 'shine', '32oz', 'effortless', 'twist-back', '5l', 'loop', 'french', 'resistance', 'no', 'back', 'v-neck', 'wovenair', 'woven', 'sweater', 'womens', '5mm', 'gathered', 'pack', 'steady', 'vent', 'sleek', 'cold', 'cushioning', 'luxtreme', 'racer', 'scoop', 'super-soft', 'leg', 'open', 'adapted', 'full', 'wordmark', 'toiletries', 'the', 'nulu', 'go', 'half', 'studio', 'evolution', '30"', 'anorak', 'terry', 'tearaway', 'aligned', 'smooth', 'balance', 'commission', 'cup', 'kit', 'straight', 'ball', 'bottle', 'cami', 'drive', 'in', 'pant', 'set', 'strap', 'top', 'trench', 'flourish', 'puff', 'iridescent', 'wundermost', 'current', 'shoulder-twist', 'luon', 'balancer', 'mile', 'trucker', 'a-c', '32"l', 'water-repellent', '32l', 'compression', 'blissfeel', 'engineered', 'stretch', '7', 'mid-rise', 'showzero99', 'this', 'cord', 'train', 'tapered', 'textured', 'a-d', 'super-high-rise', 'nulux', 'ruched'}

In [25]:
print(len(all_words_set))

707

In [28]:
# create feature matrix 
all_data = pd.DataFrame(columns=list(all_words_set))
all_data['Price'] = 0
all_data.head()

for index, row in w_df.iterrows(): 
    product = row['Product Name']
    price = row['Price']

    newrow = {word: 0 for word in list(all_words_set)}
    newrow['Price'] = price

    words = set(product.lower().split())
    for word in words: 
        if word in newrow: 
            newrow[word] = 1 
    # since we are pulling from womens df add 1 to the "womens" word 
    newrow['womens'] = 1

    all_data.loc[index] = newrow

all_data.head()

,keyhole,"10""",wool-knit,cpc,side-snap,rest,hiking,unisex,v,button-up,...,this,cord,train,tapered,textured,a-d,super-high-rise,nulux,ruched,Price
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,118.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,128.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,118.0

In [29]:
all_data.tail()

,keyhole,"10""",wool-knit,cpc,side-snap,rest,hiking,unisex,v,button-up,...,this,cord,train,tapered,textured,a-d,super-high-rise,nulux,ruched,Price
841,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,34.0
842,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29.0
843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24.0
844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29.0
845,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9.0

In [30]:
LASTINDEX = 845 + 1
for index, row in m_df.iterrows(): 
    product = row['Product Name']
    price = row['Price']

    newrow = {word: 0 for word in list(all_words_set)}
    newrow['Price'] = price

    words = set(product.lower().split())
    for word in words: 
        if word in newrow: 
            newrow[word] = 1 

    all_data.loc[index+LASTINDEX] = newrow

all_data.head()

,keyhole,"10""",wool-knit,cpc,side-snap,rest,hiking,unisex,v,button-up,...,this,cord,train,tapered,textured,a-d,super-high-rise,nulux,ruched,Price
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,118.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,128.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,78.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,118.0

In [32]:
all_data.shape

(1383, 708)

In [33]:
all_data.to_csv("lululemon_feature_matrix.csv", index=False)